*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: dodgerblue;
}

.green{
    background-color: green;
    color: white;
}

.box{
    background-color: dodgerblue;
    padding: 1rem;
}


[class*="col-"] {
    background-color:dodgerblue;
    color: white;
    text-align: center;
    border: white solid;
}