*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}



.container{
    max-width: 1200px;
    margin: 0 auto;
}

.box-row{
    border: crimson solid;
    text-align: center;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

[class*="col-"] {
    background-color:dodgerblue;
    color: white;
}